img{
  max-width: 100%;
  height: auto;
}
a{
  color: inherit;
  display: inline-block;
}
h1,h2,h3,h4,h5,h6{
  letter-spacing: 0.1em;
}
p,li{
  letter-spacing: 0.05em;
}
.logo-image{
  background-image: url(/assets/images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 68px;
  height: 20px;
}
@media (min-width: 992px) {
  .logo-image{
    width: 96px;
    height: 28px;
  }
}