<header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg py-lg-8 pt-2 pb-1 navbar-border-bottom">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <h2 class="visually-hidden">logo</h2>
          <div class="logo-image"></div>
        </a>
        <button class="navbar-toggler header-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex position-relative py-lg-0 py-7" role="search">
            <input class="search-input form-control py-4 px-6 rounded-pill" type="search" placeholder="搜尋文章" aria-label="Search">
            <button class="btn search-btn position-absolute py-4 px-6 end-0 top-50 translate-middle-y" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </form>
          <ul class="navbar-nav align-items-lg-center ms-auto mb-2 mb-lg-0 align-items-start">
            <li class="nav-item mb-lg-0 mb-7 me-lg-6 me-0">
              <a class="nav-link px-lg-6 py-lg-2 p-4" href="#">所有文章</a>
            </li>
            <li class="nav-item mb-lg-0 mb-7 me-lg-6 me-0">
              <a class="nav-link px-lg-6 py-lg-2 p-4" href="#">訂閱方案</a>
            </li>
            <li class="nav-item mb-lg-0 mb-9 me-lg-6 me-0">
              <a class="nav-link px-lg-6 py-lg-2 p-4" href="about.html">關於我們</a>
            </li>
            <li class="nav-item sign-btn">
              <button class="btn btn-secondary-200 py-lg-5 px-lg-7 w-100" href="#" type="button">
                登入 / 註冊
              </button>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
  </div>
</header>