.card{
  &.simple-card{
    --bs-card-border-width: 0;
    --bs-card-border-radius: 0;
    --bs-card-spacer-y: 0;
    --bs-card-spacer-x: 0;
    --bs-card-title-color: #343A40;
    --bs-card-cap-padding-y: 0;
    --bs-card-cap-padding-x: 0;
    --bs-card-cap-bg: transparent;
    --bs-card-cap-color: #6E6B67;
    --bs-card-bg: transparent;
    --bs-card-color: #6C757D;
    .card-list{
      color: #343A40;
      line-height: 1.2;
      font-weight: 700;
      letter-spacing: 0.1em;
    }
    .card-header{
      font-size: 2.5rem;
    }


    // --bs-card-spacer-y: 1rem;
    // --bs-card-spacer-x: 1rem;
    // --bs-card-title-spacer-y: 0.5rem;
    // --bs-card-title-color: ;
    // --bs-card-subtitle-color: ;
    // --bs-card-border-width: var(--bs-border-width);
    // --bs-card-border-color: var(--bs-border-color-translucent);
    // --bs-card-border-radius: var(--bs-border-radius);
    // --bs-card-box-shadow: ;
    // --bs-card-inner-border-radius: calc(var(--bs-border-radius) -(var(--bs-border-width)));
    // --bs-card-cap-padding-y: 0.5rem;
    // --bs-card-cap-padding-x: 1rem;
    // --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    // --bs-card-cap-color: ;
    // --bs-card-height: ;
    // --bs-card-color: ;
    // --bs-card-bg: var(--bs-body-bg);
    // --bs-card-img-overlay-padding: 1rem;
    // --bs-card-group-margin: 0.75rem;
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // min-width: 0;
    // height: var(--bs-card-height);
    // color: var(--bs-body-color);
    // word-wrap: break-word;
    // background-color: var(--bs-card-bg);
    // background-clip: border-box;
    // border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  }
}

@media (min-width: 992px) {
  .card.simple-card .card-header{
    font-size: 3.25rem;
  }
}