.index-banner {
  .image{
    background-image: url(/assets/images/banner-sm.png);
    height: 551px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .card-img-overlay{
    padding: 48px 20px;
  }
}
@media (min-width: 992px) {
  .index-banner {
    .image{
      background-image: url(/assets/images/banner.png);
      height: 621px;
    }
    .card-img-overlay{
      padding-left: 61px;
    }
  }
}


.index-theme {
  .image{
    width: 100%;
    height: 84px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .image1{
    background-image: url(/assets/images/theme-1-sm.png);
  }
  .image2{
    background-image: url(/assets/images/theme-2-sm.png);
  }
  .image3{
    background-image: url(/assets/images/theme-3-sm.png);
  }
  .image4{
    background-image: url(/assets/images/theme-4-sm.png);
  }
  .image5{
    background-image: url(/assets/images/theme-5-sm.png);
  }
  .image6{
    background-image: url(/assets/images/theme-6-sm.png);
  }
  .image7{
    background-image: url(/assets/images/theme-7-sm.png);
  }
  .image8{
    background-image: url(/assets/images/theme-8-sm.png);
  }
}
@media (min-width: 768px) {
  .index-theme {
    .image{
      height: 200px;
    }
    .image1{
      background-image: url(/assets/images/theme-1.png);
    }
    .image2{
      background-image: url(/assets/images/theme-2.png);
    }
    .image3{
      background-image: url(/assets/images/theme-3.png);
    }
    .image4{
      background-image: url(/assets/images/theme-4.png);
    }
    .image5{
      background-image: url(/assets/images/theme-5.png);
    }
    .image6{
      background-image: url(/assets/images/theme-6.png);
    }
    .image7{
      background-image: url(/assets/images/theme-7.png);
    }
    .image8{
      background-image: url(/assets/images/theme-8.png);
    }
  }
}

.index-article{
  .switch-group{
    margin-top: 2.5rem;
  }
  .switch-btn{
    .bi::before{
      line-height: none;
      vertical-align: middle;
    }
  }
  .switch-pages{
    color: $neutral-300;
    line-height: 1.75;
    .swiper-pagination-current{
      color: $neutral-500;
      padding-right: 10px;
    }
    .swiper-pagination-total{
      color: $neutral-500;
      padding-left: 10px;
    }
  }
  .switch-dec-line{
    width: 80px;
    height: 1px;
    background-color: #000;
  }  
}
@media (min-width: 992px) {
  .index-article{
    .switch-group{
      position: absolute;
      left: 0;
      bottom: 0;
      margin-top: 0;
    }
    .switch-btn-group{
      margin-top: 2rem;
    }
  }
}

.index-event-content{
  &:before{
    content: '';
    display: none;
    background-image: url(/assets/images/bg-1.png);
    width: 217px;
    height: 81px;
    position: absolute;
    left: 12%;
    bottom: -8px;
  }
  &:after{
    content: '';
    display: inline-block;
    background-image: url(/assets/images/bg-2-sm.png);
    width: 160px;
    height: 104px;
    position: absolute;
    left: 70%;
    bottom: -8px;
  }
}
@media (min-width: 992px) {
  .index-event-content{
    &:before{
      display: inline-block;
    }
    &:after{
      background-image: url(/assets/images/bg-2.png);
      width: 300px;
      height: 196px;
      right: 12%;
      bottom: -8px;
    }
  }
}


@media (max-width: 768px) {
  .hot-slide-cards{
    box-shadow: 0 2px 8px #6e6b6714;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -webkit-overflow-scrolling: touch;
    gap: 24px;
    .white-bg-card{
      width: 324px;
    }
    .badge{
      font-size: 12px;
      line-height: 1.6;
    }
    &.tab-content > .active {
      display: flex;
      opacity: 1;
    }
    &.tab-content > .tab-pane {
      display: flex;
      opacity: 1;
    }
  }
  .project-slide-cards{
    padding-top: 20px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -webkit-overflow-scrolling: touch;
    .image-bg-card{
      width: 306px;
    }
  }
}